{
  "presets": ["@babel/preset-env"],
  "plugins": ["@babel/plugin-transform-modules-commonjs"],
  "env": {
    "development": {
      "sourceMaps": "inline"
    },
    "test": {
      "plugins": ["@babel/plugin-transform-runtime"]
    }
  }
}
