{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "ignorePatterns": ["dist", "**/*.d.ts"],
  "plugins": ["prettier", "@typescript-eslint"],
  "extends": ["plugin:@typescript-eslint/recommended", "prettier"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": "warn",
    "prettier/prettier": ["error"]
  }
}
