// This file was auto-generated by Fern from our API Definition.

import type * as Webflow from "../../../../../../index";

/**
 * @example
 *     {
 *         skipInvalidFiles: true,
 *         body: {
 *             isArchived: false,
 *             isDraft: false,
 *             fieldData: {
 *                 name: "The Hitchhiker's Guide to the Galaxy",
 *                 slug: "hitchhikers-guide-to-the-galaxy",
 *                 "plain-text": "Don't Panic.",
 *                 "rich-text": "<h3>A Guide to Interstellar Travel</h3><p>A towel is about the most massively useful thing an interstellar hitchhiker can have. <strong>Don't forget yours!</strong></p>",
 *                 "main-image": {
 *                     "fileId": "62b720ef280c7a7a3be8cabe",
 *                     "url": "/files/62b720ef280c7a7a3be8cabe_image.png"
 *                 },
 *                 "image-gallery": [
 *                     {
 *                         "fileId": "62b720ef280c7a7a3be8cabd",
 *                         "url": "/files/62b720ef280c7a7a3be8cabd_image.png"
 *                     },
 *                     {
 *                         "fileId": "62b720ef280c7a7a3be8cabe",
 *                         "url": "/files/62b720ef280c7a7a3be8cabe_image.png"
 *                     }
 *                 ],
 *                 "intro-video": "https://www.youtube.com/watch?v=aJ83KAggd-4",
 *                 "official-site": "https://hitchhikers.fandom.com/wiki/The_Hitchhiker%27s_Guide_to_the_Galaxy",
 *                 "contact-email": "zaphod.beeblebrox@heartofgold.gov",
 *                 "support-phone": "424-242-4242",
 *                 "answer-to-everything": 42,
 *                 "release-date": "1979-10-12T00:00:00.000Z",
 *                 "is-featured": true,
 *                 "brand-color": "#000000",
 *                 category: "62b720ef280c7a7a3be8cabf",
 *                 author: "62b720ef280c7a7a3be8cab0",
 *                 tags: [
 *                     "62b720ef280c7a7a3be8cab1",
 *                     "62b720ef280c7a7a3be8cab2"
 *                 ],
 *                 "downloadable-asset": {
 *                     "fileId": "62b720ef280c7a7a3be8cab3",
 *                     "url": "/files/62b720ef280c7a7a3be8cab3_document.pdf"
 *                 }
 *             }
 *         }
 *     }
 */
export interface ItemsUpdateItemLiveRequest {
    /** When true, invalid files are skipped and processing continues. When false, the entire request fails if any file is invalid. */
    skipInvalidFiles?: boolean;
    body: Webflow.CollectionItemPatchSingle;
}
