/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as Webflow from "../../../../index";

/**
 * @example
 *     {
 *         localeId: "65427cf400e02b306eaa04a0",
 *         body: {
 *             id: "6596da6045e56dee495bcbba",
 *             siteId: "6258612d1ee792848f805dcf",
 *             title: "Guide to the Galaxy",
 *             slug: "guide-to-the-galaxy",
 *             createdOn: new Date("2024-03-11T10:42:00.000Z"),
 *             lastUpdated: new Date("2024-03-11T10:42:42.000Z"),
 *             archived: false,
 *             draft: false,
 *             canBranch: true,
 *             isBranch: false,
 *             seo: {
 *                 title: "The Ultimate Hitchhiker's Guide to the Galaxy",
 *                 description: "Everything you need to know about the galaxy, from avoiding Vogon poetry to the importance of towels."
 *             },
 *             openGraph: {
 *                 title: "Explore the Cosmos with The Ultimate Guide",
 *                 titleCopied: false,
 *                 description: "Dive deep into the mysteries of the universe with your guide to everything galactic.",
 *                 descriptionCopied: false
 *             },
 *             localeId: "653fd9af6a07fc9cfd7a5e57",
 *             publishedPath: "/en-us/guide-to-the-galaxy"
 *         }
 *     }
 */
export interface UpdatePageSettingsRequest {
    /**
     * Unique identifier for a specific locale. Applicable, when using localization.
     */
    localeId?: string;
    body: Webflow.Page;
}
